tr:nth-child(even) {
  background-color: #f2f2f2;
}

tbody.tour_all td {
  padding: 15px;
  font-size: 1.2rem;
}

#tab td:nth-child(3),
#tab td:nth-child(4) {
  text-align: center;
  width: 13%;
}

#tab td:nth-child(2) {
  width: 68%;
  padding: 24px;
}

#tab tbody td:nth-child(1) {
  width: 12%;
  padding: 9px;
}

#tab {
  width: 92%;
  margin: 58px auto;
}

table.touring {
  width: 100%;
}

thead {
  text-align: left;
}

.meet {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: transparent;
  border-color: rgb(58, 56, 56);
  border-radius: 8px;
  font-size: 1.1rem;
  cursor: pointer;
}

.leave {
  padding: 0.5rem;
  text-align: center;
  border-radius: 4px;
  border: 2px solid rgb(240, 22, 22);
  background-color: rgb(226, 219, 219);
  color: rgb(212, 11, 11);
}

.member {
  background-color: rgb(139, 132, 132);
  color: rgb(230, 216, 216);
  padding: 0.4rem;
  border-radius: 6px;
  border: transparent;
}

.member.active {
  color: #fff;
  padding: 0.2rem;
  border-radius: 4px;
  background-color: rgb(45, 115, 219);
}

td.tour-first {
  width: 78%;
}
